[buildout]

always-checkout = force
auto-checkout +=
    imio.dms.soap2pm
    imio.pm.locales
    imio.pm.wsclient

[instance1]
eggs +=
    imio.dms.soap2pm

zcml +=
    imio.pm.wsclient
    imio.pm.locales

[sources]
imio.dms.soap2pm = svn http://svn.communesplone.org/svn/communesplone/imio.dms.soap2pm/trunk
imio.pm.locales = svn http://svn.communesplone.org/svn/communesplone/imio.pm.locales/tags/3.3
imio.pm.wsclient = svn http://svn.communesplone.org/svn/communesplone/imio.pm.wsclient/trunk

[versions]

# Required by:
# imio.pm.wsclient==1.0
suds-jurko = 0.6
