# install collective.solr
# call /@@solr-maintenance/reindex to index in solr
# check deprecated indexes https://lucene.apache.org/solr/guide/7_0/field-types-included-with-solr.html

[buildout]
parts +=
    core-prop
    solr

auto-checkout +=
    collective.solr
    collective.indexing

[versions]
Genshi = 0.7.1
collective.indexing = 2.1
collective.js.showmore = 1.0a4
collective.recipe.solrinstance = 5.3.3
collective.solr = 8.4.2
gocept.download = 0.9.5
hexagonit.recipe.download = 1.7.1
kitconcept.recipe.solr = 1.0.0a5

[instance1]
eggs+=
    collective.solr
    collective.indexing

environment-vars +=
    COLLECTIVE_SOLR_HOST ${port:solr-host}
    COLLECTIVE_SOLR_PORT ${port:solr-port}
    COLLECTIVE_SOLR_BASE ${port:solr-base}

[core-prop]
recipe = collective.recipe.template
input = solr/core.properties.tmpl
output = solr/core.properties

[solr]
recipe = kitconcept.recipe.solr
src = http://archive.apache.org/dist/lucene/solr/8.11.1/solr-8.11.1.tgz
solr-config = solr
port = ${port:solr-port}

[sources]
collective.solr = git ${remotes:collective}/collective.solr.git pushurl=${remotes:collective_push}/collective.solr.git branch=8.x.x-upgrade-4-improvments
collective.indexing = git ${remotes:sge}/collective.indexing.git pushurl=${remotes:sge_push}/collective.indexing.git
