[sources]
Products.CMFDiffTool = git git://github.com/sgeulette/Products.CMFDiffTool.git pushurl=git@github.com:sgeulette/Products.CMFDiffTool.git
Products.CPUtils = git ${remotes:imio}/Products.CPUtils pushurl=${remotes:imio_push}/Products.CPUtils
appy = svn https://svn.forge.pallavi.be/appy-dev/dev0
collective.externaleditor = git git://github.com/sgeulette/collective.externaleditor.git
#imio.dms.mail = svn http://svn.communesplone.org/svn/communesplone/imio.dms.mail/tags/1.1
imio.dms.mail = svn http://svn.communesplone.org/svn/communesplone/imio.dms.mail/tags/2.1
imio.helpers = git ${remotes:imio}/imio.helpers.git pushurl=${remotes:imio_push}/imio.helpers.git
