[buildout]

parts +=
    test
    testme
    coverage
    coverageme
    report
    robot

# create bin/test command
[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
#extra-paths = ${buildout:directory}/parts/omelette
#include-site-packages = true
eggs =
    ${instance1:eggs}
    Pillow
    Plone
    Products.PasswordResetTool [test]
    Products.PasswordStrength [test]
    collective.eeafaceted.z3ctable [test]
    collective.eeafaceted.collectionwidget [test]
    collective.behavior.talcondition [test]
    collective.contact.contactlist [test]
    collective.contact.core [test]
    collective.contact.plonegroup [test]
    collective.dms.basecontent [test]
    collective.dms.batchimport [test]
    collective.dms.mailcontent [test]
    collective.documentgenerator [test]
    collective.eeafaceted.batchactions [test]
    collective.eeafaceted.collectionwidget [test]
    collective.MockMailHost
    collective.querynextprev [test]
    collective.task [test]
    collective.wfadaptations [test]
    dexterity.localroles [test]
    dexterity.localrolesfield [test]
    imio.actionspanel [test]
    imio.dashboard [test]
    imio.dms.mail [test]
    imio.helpers [test]
    imio.history [test]
    imio.migrator [test]
    imio.prettylink [test]
    imio.pyutils
    ipdb
    plone.app.testing
    plone.dexterity [test]
    plone.formwidget.masterselect [test]
    robotframework-selenium2screenshots
environment = testenv

[testme]
<= test
initialization =
    sys.argv = sys.argv[:] + ['-s', 'imio.dms.mail']

[testenv]
zope_i18n_compile_mo_files = true
# for documentgenerator
# zope_i18n_allowed_languages = fr en
OO_PORT = ${port:oo-port}
PYTHON_UNO = ${port:python-uno}

[coverage]
recipe = zc.recipe.egg
eggs = coverage
initialization =
    include = '--source=${buildout:directory}/src/collective.contact.plonegroup/src/collective/contact/plonegroup,' \
              '${buildout:directory}/src/collective.dms.basecontent/src/collective/dms/basecontent,' \
              '${buildout:directory}/src/collective.dms.batchimport/src/collective/dms/batchimport,' \
              '${buildout:directory}/src/collective.dms.mailcontent/src/collective/dms/mailcontent,'
    sys.argv = sys.argv[:] + ['run', include, 'bin/test', '-s', 'collective.contact.plonegroup',
                              '-s', 'collective.dms.basecontent', '-s', 'collective.dms.mailcontent',
                              '-s', 'collective.dms.batchimport',]

[coverageme]
recipe = zc.recipe.egg
eggs = coverage
scripts = coverage=coverageme
initialization =
    include = '--source=${buildout:directory}/src/imio.dms.mail/imio/dms/mail,'
    sys.argv = sys.argv[:] + ['run', '-a', include, 'bin/test', '-s', 'imio.dms.mail']

[report]
recipe = zc.recipe.egg
eggs = coverage
scripts = coverage=report
initialization =
    sys.argv = sys.argv[:] + ['html', '-i']

[robot]
recipe = zc.recipe.egg
eggs =
    Pillow
    ${test:eggs}
    plone.app.robotframework [debug]
    robotframework-selenium2screenshots
initialization =
    import os
    os.environ['ENV'] = 'DEV'
    os.environ['zope_i18n_compile_mo_files'] = 'true'
    os.environ['PYTHON_UNO'] = '${port:python-uno}'

[omelette]
eggs +=
    ${test:eggs}

[versions]
#tests
# last compatible with plone 4
plone.app.robotframework = 1.2.1
robotframework = 3.0.2
robotframework-debuglibrary = 1.1.2
robotframework-seleniumlibrary = 3.1.1
robotframework-selenium2library = 3.0.0
robotframework-selenium2screenshots = 0.8.1
robotsuite = 2.0.0
selenium = 3.11.0
sphinxcontrib-robotframework = 0.7.0
